#hero {
    form {
        margin-bottom: 1em;

        @include respond-to(tablet) {
            margin-bottom: 0;
        }
    }

    input,
    button {
        border: none;
        color: $red;
        background-color: $white;
        text-transform: uppercase;
        font-weight: $bold;
    }

    .input-group-btn button {
        border: 1px solid $white;
    }

    .btn-default {
        color: $red;
    }

    .btn-group {
        display: inline-block;
        margin-right: 24px;

        &:last-child {
            margin-right: 0;
        }
    }

    .dropdown-menu {
        border: 2px solid $red;
        background-color: $light-red;
        box-shadow: none;

        a {
            color: $white;
            text-transform: uppercase;
            font-weight: $bold;

            &:hover {
                background-color: $red;
            }
        }
    }
}

.post,
.quote,
.link {
    position: relative;
    margin-bottom: 40px;

    &:last-child {
        margin-bottom: 0;
    }

    @include respond-to(tablet) {
        margin-bottom: 60px;
    }

    @include respond-to(desktop) {
        margin-bottom: 100px;
    }

    p,
    ol,
    ul,
    blockquote,
    iframe {
        margin-bottom: 1em;
    }
}

.post {
    background: lighten($light-grey, 2%);
    border-radius: 3px;
    overflow: hidden;

    .post-image {
        position: relative;

        img {
            width: 100%;
        }
    }

    .image-source {
        display: block;
        position: absolute;
        right: 0;
        bottom: 0;
        padding: 0.35em 1em;
        background-color: #000;
        background-color: rgba(0, 0, 0, 0.75);
        text-align: right;
        text-transform: uppercase;
        font-size: 14px;
        font-weight: $medium;
    }

    .post-content,
    .post-meta {
        padding: 1em;

        @include respond-to(tablet) {
            padding: 1em 3em;
        }

        @include respond-to(desktop) {
            padding: 1em 4em;
        }
    }

    .post-content {
        @include respond-to(desktop) {
            padding: 2em 4em;
        }
    }

    .post-meta {
        clear: both;
        background: darken($light-grey, 3%);

        .date,
        .tags {
            display: inline-flex;
            align-items: center;
            margin-right: 2em;
            text-transform: uppercase;
            font-size: 14px;
            font-weight: $bold;
        }
    }

    .post-meta .tags a::after {
        content: ", ";
    }

    .post-meta .tags a:last-child::after {
        content: "";
    }

    h1 {
        text-transform: uppercase;
        font-size: 24px;
        font-weight: $bold;
        margin-bottom: 1em;
    }

    h2 {
        font-size: 20px;
    }

    h3 {
        font-size: 18px;
    }
}

.quote {
    @include respond-to(tablet) {
        padding: 0 3em;
    }

    @include respond-to(desktop) {
        padding: 0 4em;
    }

    blockquote,
    blockquote p {
        padding: 0;
        border: none;
        font-weight: $medium;
        font-style: italic;
    }
}

.link {
    @include respond-to(tablet) {
        padding: 0 3em;
    }

    @include respond-to(desktop) {
        padding: 0 4em;
    }

    h1 {
        font-size: 18px;
        margin-bottom: 1em;
    }
}

.permalink {
    display: none;
    width: 3em;
    position: absolute;
    left: 0;
    top: 2px;
    color: $black;
    text-align: center;
    transition: color 0.25s;

    &:hover {
        color: $red;
    }

    @include respond-to(tablet) {
        display: flex;
        justify-content: center;
    }

    @include respond-to(desktop) {
        width: 4em;
    }
}

.alignright {
    float: right;
    margin-left: 1em;
}

.alignleft {
    float: left;
    margin-right: 1em;
}

#blog-pagination {
    padding: 30px 0;
    background: darken($light-grey, 5%);

    a:hover {
        text-decoration: none;
    }

    a.btn {
        background: $white;
        color: $red;

        &:hover {
            background: $red;
            color: $white;
        }
    }

    .next {
        text-align: right;
    }
}
