#network {
    position: relative;
    background: $red;
    min-height: calc(100vh - 83px);

    .overlay {
        position: absolute;
        left: 0;
        top: 0;
        z-index: 2;
        width: 100%;
        min-height: 100%;
        padding: 10% 0;
        background-image: linear-gradient(transparentize($light-red, 0.8), transparentize($light-red, 1));
    }

    blockquote,
    blockquote p {
        border: none;
        color: $white;
        font-size: 36px;
    }

    canvas {
        width: 100%;
        min-height: 100%;
    }

    @include respond-to(tablet) {
        min-height: calc(100vh - 102px);
    }
}
