.work #hero h1 {
    @include respond-to(tablet) {
        font-size: 42px;
    }
}

.project #hero {
    a {
        color: $white;
    }

    a.btn {
        margin: 0;

        @include respond-to(tablet) {
            margin-top: 0.25em;
            float: right;
        }
    }
}

.project-excerpt {
    display: block;
    position: relative;
    overflow: hidden;
    background: $light-grey;
    margin-bottom: 2em;
    border-radius: 3px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.15);

    img {
        border-bottom: 1px solid darken($light-grey, 10%);
    }

    h2 {
        margin: 0;
        padding: 1em;
        font-size: 18px;
        text-transform: uppercase;
        font-weight: $bold;
    }
}

html.js.csstransforms .project-excerpt {
    transition: all 0.25s;

    &:hover {
        transform: scale(1.05);
    }
}

.project {
    #content {
        @include respond-to(desktop) {
            padding-top: 60px;
        }
    }
    .mfp-image-holder .mfp-content {
        max-width: 90%;
    }

    .mfp-arrow {
        position: fixed;
    }
}

.project-heading {
    margin-bottom: 2em;
}

.project-meta p {
    display: flex;
    align-items: center;
    text-transform: uppercase;
    font-size: 16px !important;

    @include respond-to(tablet) {
        display: inline-flex;
        margin-right: 2em;
    }
}

.project-images a {
    display: block;
    margin-bottom: 24px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.15);
    transition: all 0.25s;

    &:hover {
        transform: scale(1.05);
    }
}

#project-pagination {
    background: darken($light-grey, 5%);

    a {
        position: relative;
        display: block;
        color: $black;
        cursor: pointer;

        &:hover {
            text-decoration: none;

            h3 {
                background: $red;
                color: $white;
            }
        }

        &.btn {
            margin-top: 0.5em;
        }
    }

    .btn {
        display: inline-flex;
        align-items: center;
        background: $white;
        color: $red;
        border-radius: 5px;
        transition: all 0.25s;

        &:hover {
            background: $red;
            color: $white;
        }

        span {
            display: none;
            transition: none !important;

            @include respond-to(tablet) {
                display: inline-block;
            }
        }
    }

    .thumbnail {
        width: 100%;
        max-width: 120px;
        margin-top: -30px;
        margin-bottom: 10px;
        box-shadow: 0 0 3px rgba(0, 0, 0, 0.15);

        @include respond-to(tablet) {
            max-width: 160px;
            margin-top: -1.5em;
            margin-bottom: -1.5em;
        }

        @include respond-to(desktop) {
            max-width: 200px;
        }
    }

    h3 {
        margin: 0 0 0.5em;
        color: $black;
        text-transform: uppercase;
        font-size: 14px;
        font-weight: $bold;

        &.btn {
            color: $red;
            background: $white;
        }
    }

    strong {
        display: block;
    }

    p {
        font-size: 16px;
        margin-bottom: 0;
    }

    .next,
    .previous {
        padding-top: 1em;
        padding-bottom: 1em;
    }

    .next {
        text-align: right;

        .thumbnail {
            float: right;
            margin-left: 1em;
        }
    }

    .previous {
        .thumbnail {
            float: left;
            margin-right: 1em;
        }
    }
}

html.js.csstransforms #project-pagination {
    a {
        opacity: 0;
        transform: translateY(200px);
        transition: all 0.75s;

        &:hover img {
            transition: all 0.25s;
            transform: scale(1.05);
        }
    }

    h3,
    strong,
    p {
        transform: translateX(-100px);
        transition: all 0.75s;
    }

    .next {
        h3,
        strong,
        p {
            transform: translateX(100px);
        }
    }

    &.active {
        a {
            opacity: 1;
            transform: translateY(0);
        }

        h3,
        strong,
        p {
            transform: translateX(0);
        }
    }
}
