h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    font-family: "effra", sans-serif;

    &:first-child {
        margin-top: 0;
    }
}

a,
a:visited {
    text-decoration: none;
    color: $red;
}

a:hover {
    color: darken($red, 10%);
}

.btn {
    text-transform: uppercase;
    font-weight: $bold;
    letter-spacing: 1px;
}

hr {
    width: 50%;
    border-top: 4px solid darken($light-grey, 3%);
}
