h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    &:first-child {
        margin-top: 0;
    }
}

a {
    text-decoration: none;
    color: $red;

    &:hover {
        color: darken($red, 10%);
    }
}

.btn {
    display: inline-flex;
    align-items: center;
    text-transform: uppercase;
    font-weight: $bold;
    letter-spacing: 1px;
}

hr {
    width: 50%;
    margin: 20px auto;
    border-top: 4px solid $light-grey;
    opacity: 1;
}

svg.icon {
    width: 1em;
    height: 1em;
    fill: currentColor;
    overflow: visible;
}

blockquote {
    padding: 10px 20px;
    margin: 0 0 20px;
    border-left: 5px solid #eee;

    & p:last-child {
        margin-bottom: 0;
    }
}
