$enable-smooth-scroll: false;
$enable-rfs: false;

$red: #e6193c;
$light-red: #ec536d;
$white: #ffffff;
$light-grey: #f1f1f2;
$black: #4b4d58;

$vertical-padding: 50px;

$regular: 400;
$medium: 500;
$bold: 700;

$spacers: (
    0: 0,
    5: 5px,
    10: 10px,
    15: 15px,
    16: 16px,
    20: 20px,
    25: 25px,
    30: 30px,
    35: 35px,
    40: 40px,
    45: 45px,
    50: 50px,
    60: 60px,
    70: 70px,
    75: 75px,
    80: 80px,
    90: 90px,
    100: 100px,
    110: 110px,
    120: 120px,
    130: 130px,
    140: 140px,
    150: 150px,
    160: 160px,
    170: 170px,
    180: 180px,
    190: 190px,
    200: 200px,
);

$grid-gutter-width: 30px;

$container-max-widths: (
    xxl: 1260px,
);

$input-focus-box-shadow: 0 0 0 3px transparentize($black, 0.75);
